In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from math import sqrt
import warnings

In [7]:
df= pd.read_csv('jobs_raw.csv')

In [8]:
df.describe()

       json_salary_max  json_salary_min      json_lat      json_lng
count     2.345500e+04     23455.000000  27482.000000  27482.000000
mean      7.733438e+04     56361.493967     52.210374     -1.249683
std       1.179852e+05     25451.474981      1.090745      1.296996
min       1.150000e+02       103.000000     49.183300     -5.548620
25%       4.807500e+04     31841.000000     51.468400     -2.214870
50%       7.466100e+04     49294.000000     51.764000     -1.207980
75%       1.050420e+05     77913.000000     53.134500     -0.161262
max       9.000000e+06    350000.000000     55.768800      1.743600

Cleaning Data set: dropping many columns

In [16]:
df=df.drop(['job_reference', 'department', 'working_pattern', 'pay_scheme', 'pay_band', 'staff_group', 'full_description', 'json_salary_unit', 'json_salary_value'], axis = 1)

In [19]:
df= df.drop(['json_date_posted', 'json_description', 'json_employment_type', 'json_hire_name', 'json_address_locality', 'json_address_postcode', 'json_closing_date', 'json_lng'], axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27482 entries, 0 to 27481
Data columns (total 10 columns):
employer             27482 non-null object
employer_postcode    27482 non-null object
location             27482 non-null object
salary               27478 non-null object
job_type             27482 non-null object
specialty            22554 non-null object
json_salary_max      23455 non-null float64
json_salary_min      23455 non-null float64
json_lat             27482 non-null float64
json_title           27482 non-null object
dtypes: float64(3), object(7)
memory usage: 2.1+ MB

In [22]:
df.to_csv('new_Dr.csv')

In [24]:
df.isnull().sum()

employer                0
employer_postcode       0
location                0
salary                  4
job_type                0
specialty            4928
json_salary_max      4027
json_salary_min      4027
json_lat                0
json_title              0
dtype: int64

In [38]:
df=df.dropna()

In [39]:
df.isna().sum()

employer             0
employer_postcode    0
location             0
salary               0
job_type             0
specialty            0
json_salary_max      0
json_salary_min      0
json_lat             0
json_title           0
dtype: int64

In [43]:
df.to_csv('new_Dr.csv')