In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score, explained_variance_score
from math import sqrt
import warnings

In [4]:
df= pd.read_csv('new_Dr.csv')

In [ ]:
df.describe()

Cleaning Data set: dropping many columns

In [ ]:
df=df.drop(['job_reference', 'department', 'working_pattern', 'pay_scheme', 'pay_band', 'staff_group', 'full_description', 'json_salary_unit', 'json_salary_value'], axis = 1)

In [ ]:
df= df.drop(['json_date_posted', 'json_description', 'json_employment_type', 'json_hire_name', 'json_address_locality', 'json_address_postcode', 'json_closing_date', 'json_lng', 'json_lat', 'json_lng'], axis=1)

In [ ]:
df.info()

In [22]:
df.to_csv('new_Dr.csv')

In [24]:
df.isnull().sum()

employer                0
employer_postcode       0
location                0
salary                  4
job_type                0
specialty            4928
json_salary_max      4027
json_salary_min      4027
json_lat                0
json_title              0
dtype: int64

In [38]:
df=df.dropna()

In [39]:
df.isna().sum()

employer             0
employer_postcode    0
location             0
salary               0
job_type             0
specialty            0
json_salary_max      0
json_salary_min      0
json_lat             0
json_title           0
dtype: int64

In [43]:
df.to_csv('new_Dr.csv')